/* Custom Flume docs styles */

:root {
  --sl-color-accent-low: #1a1a4e;
  --sl-color-accent: #4f46e5;
  --sl-color-accent-high: #c7d2fe;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #c7d2fe;
  --sl-color-accent: #4f46e5;
  --sl-color-accent-high: #1e1b4b;
}
